.Header1{
  color: rgb(255, 255, 255);
  font-size: 60px;
}
.Paragraph1{
  color: rgb(255, 255, 255);
  font-size: 24px;
}
.Link{
  color: rgb(255, 255, 255);
  font-size: 24px;
}
.Link:hover{
  color: invert(100%)
}
.Header2{
  color: rgb(255, 255, 255);
  font-size: 30px;
}
.Paragraph2{
  color: rgb(255, 255, 255);
  font-size: 24px;
}
.Header3{
  color: rgb(255, 255, 255);
  font-size: 30px;
}
.Paragraph3{
  color: rgb(255, 255, 255);
  font-size: 24px;
}
body{
  background: rgb(34,175,195);
  background: radial-gradient(circle, rgba(34,175,195,1) 0%, rgba(16,3,117,1) 100%);
  background-attachment: scroll;
  margin: auto;
  text-align: center;
}