.Header1{
  color: rgb(255, 255, 255);
  font-size: 30px;
}
.Paragraph1{
  color: rgb(255, 255, 255);
  font-size: 12px;
}
.Link{
  color: rgb(255, 255, 255);
  font-size: 12px;
}
.Header2{
  color: rgb(255, 255, 255);
  font-size: 30px;
}
.Paragraph2{
  color: rgb(255, 255, 255);
  font-size: 12px;
}
.Header3{
  color: rgb(255, 255, 255);
  font-size: 30px;
}
.Paragraph3{
  color: rgb(255, 255, 255);
  font-size: 12px;
}
body{
  background: rgb(34,175,195);
  background: radial-gradient(circle, rgba(34,175,195,1) 0%, rgba(16,3,117,1) 100%);
  background-attachment: scroll;
  margin: auto;
  width: 50%;
  border: 3px solid rgb(0, 7, 49);
  padding: 10px;
  text-align: center;
}